# Configuration n8n
N8N_PORT=5678
GENERIC_TIMEZONE=Indian/Antananarivo

# Configuration Webhook & URL
N8N_PROTOCOL=http
N8N_HOST=localhost
N8N_WEBHOOK_URL=http://localhost:5678/

# Sécurité & Permissions
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
